* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html,
body {
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #2D0451;
  background: linear-gradient(to bottom, #2D0451, #000FB3);
  overflow-x: hidden;
}

body {
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
}

a {
  text-decoration: none;
}

h6 {
  color: #979797;
}

.hashtags {
  font-size: 80%;
}

p {
  line-height: 2;
}

/* ===Header====*/
.pronouns {
  color: #6A0CBD;
}

.site-header {
  background-color: #2D0451;
  padding: 40px;
  position: relative;
}

.bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TitleAndBars {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-dots img {
  position: absolute;
}

.dot.hg {
  top: 8px;
  left: 8px
}

.dot.hd {
  top: 8px;
  right: 8px
}

.dot.bg {
  bottom: 8px;
  left: 8px
}

.dot.bd {
  bottom: 8px;
  right: 8px
}

/* ============*/

/* === Head Post === */
.head-post {
  padding: 15px;
  /* background-color: linear-gradient(180deg, #000FB3 0%, #480087 100%); */
  background-color: #000FB3;
  width: 100%;
  min-width: 100vw;
}


.head-post img {
  width: 100%;
  height: 7px;
  object-fit: fill;
  margin-top: 10px;
  margin-bottom: 20px;
}

.head-post a {
  color: #0800E9;
}


/* ============*/

/* === Presentation === */
.presentation-post {
  padding: 20px;
  min-width: 100vw;

  /* background: linear-gradient(180deg, #480087 0%, #3C51A7 100%); */

  background: linear-gradient(to bottom, #480087, #350063);
}

.presentation-post img {
  width: 100%;
  height: 7px;
  object-fit: fill;
  margin-top: 20px;
  margin-bottom: 20px;
}

.presentation-post a {
  color: #7710D0;
}

/* =========== */

/* === Cool train === */

.cool-train-section {

  background: linear-gradient(180deg, #3C51A7 0%, #162A43 57.62%);
  /* background: linear-gradient(to bottom, #386DB3 0%, #162A43 55%); */
  padding-top: 20px;
  width: 100%;
  min-width: 100vw;
}

.barTrain {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 7px;
  object-fit: fill;
}

.floors {
  display: flex;
  flex-direction: column;
  margin: 120px 0;
}

.train {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.train-top {
  align-self: flex-end;
}

.train-bottom {
  align-self: flex-start;
}

.train img {
  width: 60%;
  height: auto;
  display: block;
}

.text-train {
  text-align: center;
  padding: 100px 20px;
}

.spacer {
  height: 100px;
}

/* =================== */

/* === Train Spotting Section === */

.barTrainSpot {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 7px;
  object-fit: fill;
}

.train-spotting-section {
  min-width: 100vw;
  background: #3B83E0;
  position: relative;
}

.train-spotting-board {
  background: linear-gradient(to bottom, #162A43 0%, #3B83E0 8%);
  height: 1750px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blogLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blogLine:nth-of-type(2)>div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}


.waves {
  width: 244px;
  height: 186px;
}

.tales {
  color: #629FF0;
  font-size: 14px;
}

.blog-post {
  height: 325.2px;
  width: 562.8px;
  display: flex;
  flex-direction: column;

  background: #D9D9D9;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

@media (width >=1650px) {
  .separator-blog {
    width: calc(540px * 1.3);
    height: 3px;
  }

  .title-blog {
    font-size: 28px;
  }

  .blog-post {
    height: calc(325.2px * 1.3);
    width: calc(562.8px * 1.3);
  }
}

.pins {
  position: absolute;
  width: 84.34px;
  height: 115.66px;
  z-index: 2;
}

.pins.pin1 {
  top: -33%;
  left: 85%;
}

.pins.pin2 {
  top: -30%;
  left: 10%;
}

.separator-blog {
  width: 540px;
  height: 2px;
  align-self: center;
  background: #000000;
  border-radius: 2px;
}

.separator-blog:first-of-type {
  margin-top: 12px;
}

.title-blog {
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  margin-left: 20px;
}

.blog-post-text {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.blog-post-text p {
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1px;
  color: #000000;
}

.blog-sign {
  margin-top: 7px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 11px;
  color: #000000;
}

.flowerDec {
  position: absolute;
}

.flowerDec.f1 {
  top: 26%;
  left: 10%;
}

.flowerDec.f2 {
  top: 70%;
  left: 80%;
}

.train-spotting-quotes-transition {
  position: relative;
}

.transition-flowers {
  display: block;
  width: 100vw;
}

.rain-drops {
  display: block;
  position: absolute;
  top: 30%;
  z-index: 2;
  width: 100vw;
}


/* =================== */

/* === Quotes === */
.leaves-and-rain {
  min-width: 100vw;
  background: linear-gradient(to bottom, #57759D, #010FA0);
}

.leaves-and-text {
  display: flex;
  align-items: center;
}

.leaves-and-rain-text {
  margin-top: 20%;
  margin-bottom: 10%;
  width: 100vw;
  font-size: 20px;
  text-align: center;
}

.quotes-leaves {
  width: 100vw;
}

.double-quotes-and-cat {
  color: #5F6CF0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #010FA0, #2E3577, #010EA0);

}

.cat-image {
  align-self: flex-end;
}

.quote-l1 {
  margin-top: 20%;
  font-size: 15px;
  margin-left: 5%;
}

.quote-l2 {
  margin-right: 5%;
  font-size: 15px;
  align-self: flex-end;
  margin-bottom: 20%;
  margin-top: 5%;
}

/* =================== */

/* === Site footer === */
.site-footer {
  background: linear-gradient(to bottom, #020FA1, #000FB3);
  align-items: center;
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding: 40px 0;
  min-width: 100vw;
}

.flags {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.credentials {
  margin-top: 150px;
}

/* =================== */

/* -------- */
/* temporary */
.connector {
  position: absolute;
  stroke: #BF0000;
  stroke-width: 0.2px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}