* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #2D0451, #000FB3);
  overflow-x: hidden;
}
body {
 color: #ffffff;
 font-family: "JetBrains Mono", monospace;
}

a {
  text-decoration: none;
}

h6 {
  color: #979797;
}

.hashtags {
  font-size: 80%;
}

p {
  line-height: 2;
}
/* ===Header====*/
.pronouns {
  color: #6A0CBD;
}
.site-header {
  background-color: #2D0451;
  padding: 40px;
  position: relative;
}
.bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TitleAndBars {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-dots img {
  position: absolute;
}
.dot.hg { top: 8px; left: 8px}
.dot.hd { top: 8px; right: 8px}
.dot.bg { bottom: 8px; left: 8px}
.dot.bd { bottom: 8px; right: 8px}
/* ============*/

/* === Head Post === */
.head-post {
  padding: 15px;
  background-color: #000FB3;
  width: 100%;
}

.head-post img {
  width: 100%;
  height: 7px;
  object-fit: fill;
  margin-top: 10px;
  margin-bottom: 20px;
}

.head-post a {
  color: #0800E9;
}


/* ============*/

/* === Presentation === */
.presentation-post {
  padding: 20px;
  background: linear-gradient(to bottom, #480087,#350063);
  /* height: 200%; */
}

.presentation-post img {
  width: 100%;
  height: 7px;
  object-fit: fill;
  margin-top: 20px;
  margin-bottom: 20px;
}

.presentation-post a {
  color: #7710D0;
}

/* =========== */

/* === Cool train === */
.cool-train-section {
    background: linear-gradient(to bottom, #386DB3,#162A43);
    padding-top: 20px;
    width: 100%;
}

.barTrain {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 7px;
  object-fit: fill;
}

.floors {
  display: flex;
  flex-direction: column;
  margin: 120px 0;
}

.train {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.train-top {
  align-self: flex-end;
}

.train-bottom {
  align-self: flex-start;
}

.train img {
  width: 60%;
  height: auto;
  display: block;
}

.text-train {
  text-align: center;
  padding: 100px 20px;
}

.spacer {
  height: 100px;
}
/* =================== */

/* === Train Spotting Section === */
.train-spotting-section {
  background: #3B83E0;
}
.train-spotting-board {
  background: linear-gradient(to bottom, #162A43, #3B83E0);
  height: 1750px;
}

.train-spotting-quotes-transition {
  position: relative;
}
.transition-flowers {
  display: block;
  width: 100vw;
}

.rain-drops {
  display: block;
  position: absolute;
  top: 30%;
  z-index: 2;
  width: 100vw;
}

/* =================== */

/* === Quotes === */
.leaves-and-rain {
  background: linear-gradient(to bottom, #57759D, #010FA0);
}

.leaves-and-text {
  display: flex;
  align-items: center;
}

.leaves-and-rain-text {
  margin-top: 20%;
  margin-bottom: 10%;
  width: 100vw;
  font-size: 20px;
  text-align: center;
}

.quotes-leaves { 
  width: 100vw; 
}

.double-quotes-and-cat {
  color: #5F6CF0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #010FA0, #2E3577, #010EA0);

}

.cat-image {
  align-self: flex-end;
}

.quote-l1 {
  margin-top: 20%;
  margin-left: 5%;
}

.quote-l2 {
  margin-right: 5%;
  align-self: flex-end;
  margin-bottom: 20%;
  margin-top: 5%;
}

/* =================== */ 

/* === Site footer === */
.site-footer {
    background: linear-gradient(to bottom, #020FA1,#000FB3);
    align-items: center;
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding: 40px 0;
}

.flags {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.credentials {
  margin-top: 150px;
}

/* =================== */
